<div class="answer-wrapper">
  <div class="answer-avatar">
    <talk2db-icon [icon]="botIcon" />
  </div>
  <div class="answer-bubble">
    <p class="answer-content">{{ message().content }}</p>
    @if (message().artifact) {
      <talk2db-artifact-link
        [artifact]="message().artifact!"
        (selected)="artifactSelected.emit($event)"
      />
    }
    @if (message().timestamp) {
      <span class="answer-timestamp">
        {{ message().timestamp.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) }}
      </span>
    }
  </div>
</div>
